<div class="wrapper">
  <div class="row" style="margin-top: 10px">
    <div class="col-8">
      <h3>POPULAR MOVIE VIEWER</h3>
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon icon="search"></fa-icon>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-movies [searchTerm]="searchTerm"></app-movies>
    </div>
    <div class="col-8">
      <app-movie-details></app-movie-details>
    </div>
  </div>
</div>