<div class="list-group">
  <div *ngIf="this.moviesLoading$ | async">Loading...</div>
  <ng-container *ngIf="selectedMovie$ | async as selectedMovie">
    <button *ngFor="let movie of (movies$ | async) | globalFilter : searchTerm;trackBy: Utils.trackByFn" type="button"
      class="list-group-item" [class.list-group-item-selected]="movie.Id === selectedMovie.Id" (click)="selectMovie(movie)">
      {{ movie.Title }}
      <span *ngIf="movie.Id === selectedMovie.Id" class="selected-movie-caret">
        <fa-icon icon="caret-right"></fa-icon>
      </span>
    </button>
  </ng-container>
</div>