.list-group {
  max-height: 800px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.list-group-item {
  text-align: left;
}

.list-group-item-selected {
  background-color: lightgrey;
}

.list-group-item:hover {
  background-color: hsl(0, 0%, 96%);
}

.selected-movie-caret {
  float: right;
}