<ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
    <li [ngClass]="{'selected': (star <= selectedValue)}">
        <fa-icon icon="star"></fa-icon>
    </li>
</ul>