.img-poster {
    float: left;
    max-height: 300px;
    margin-right: 10px;
}

.img-backdrop {
    float: right;
    max-height: 300px;
    margin-left: 10px;
}

.rating-heading {
    padding-top: 5px;
    float: left;
}

.movie-rating-stars {
    margin-left: 10px;
    float: left;
}