<ng-container *ngIf="movie$ | async as movie">
    <h1>{{ movie.Title }}</h1>
    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <img class="img-thumbnail img-fluid img-poster"
                [src]="environment.movieImagesBasePath + movie.PosterPath" />
            <p>{{ movie.Overview }}</p>
        </div>
    </div>
    <div class="alert alert-info">
        <div class="row">
            <div class="col-6">
                <h4 style="padding-top: 5px;">Release Date: {{ movie.ReleaseDate | date: 'dd/MM/yyyy' }}</h4>
            </div>
            <div class="col-6">
                <h4 class="rating-heading">Rating:</h4>
                <app-star-rating [selectedValue]="Utils.roundNumber(movie.VoteAverage / 2)" class="movie-rating-stars">
                </app-star-rating>
                <h4 class="rating-heading">({{ movie.VoteAverage }})</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="img-thumbnail img-fluid mx-auto d-block"
                [src]="environment.movieImagesBasePath + movie.BackdropPath" />
        </div>
    </div>
</ng-container>